@charset "UTF-8";

                    /* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d, #94CFCD);
    }

    main {

    }

    div#imagem {

    }

    input.config {

    }

    input#enviar {

    }

    button {

    }
}

                    /* DESKTOP */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    body {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d, #94CFCD);
    }

    main {

    }

    div#imagem {

    }

    input.config {
        
    }

    input#enviar {

    }

    button {

    }
}

            /* Grandes Telas (TV, etc) */
@media screen and (min-width: 1200px) {
    
    body {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d, #94CFCD);
    }

    main {

    }

    div#imagem {

    }

    input.config {
        
    }

    input#enviar {

    }

    button {

    }
}